In [48]:
import pandas as pd
import numpy as np
import warnings
import os
import re
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
import keras

#import glob
warnings.filterwarnings('ignore')
#os.chdir("Dataopen_1109")

In [54]:
data1 = pd.read_csv("datasets/dataset_1.csv")
data2 = pd.read_csv("datasets/dataset_2.csv")
data3 = pd.read_csv("datasets/dataset_3.csv")
data4 = pd.read_csv("datasets/dataset_4.csv")
data5 = pd.read_csv("datasets/dataset_5.csv")
data6 = pd.read_csv("datasets/dataset_6.csv")
EUReferendumData = pd.read_csv("datasets/EUReferendumData.csv")
annualPayByConstituency_2019 = pd.read_excel("datasets/annualPayByConstituency_2019.xls")
annualPayByConstituency_2016 = pd.read_excel("datasets/annualPayByConstituency_2016.xls")

In [55]:
df_Referendum = EUReferendumData[['Region_Code', 'Area_Code', 'Area', 'Electorate', 'Leave', 'Remain']]
df_Referendum.head()

  Region_Code  Area_Code             Area  Electorate  Leave  Remain
0   E12000006  E06000031     Peterborough      120892  53216   34176
1   E12000006  E06000032            Luton      127612  47773   36708
2   E12000006  E06000033  Southend-on-Sea      128856  54522   39348
3   E12000006  E06000034         Thurrock      109897  57765   22151
4   E12000006  E06000055          Bedford      119530  44569   41497

In [56]:
annualPayByConstituency_2019.columns
# df_Pay2019 = annualPayByConstituency_2019[['Description', 'Code', 'Number of jobs (thousand)']]

Index([              'Description',                      'Code',
       'Number of jobs (thousand)',                    'Median',
                      'APC Median',                      'Mean',
                        'APC Mean',                          10,
                                20,                          25,
                                30,                          40,
                                60,                          70,
                                75,                          80,
                                90],
      dtype='object')

In [57]:
annualPayByConstituency_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653 entries, 0 to 652
Data columns (total 17 columns):
Description                  653 non-null object
Code                         648 non-null object
Number of jobs (thousand)    648 non-null object
Median                       648 non-null object
APC Median                   554 non-null float64
Mean                         648 non-null object
APC Mean                     627 non-null float64
10                           648 non-null object
20                           648 non-null object
25                           648 non-null object
30                           648 non-null object
40                           648 non-null object
60                           648 non-null object
70                           648 non-null object
75                           648 non-null object
80                           648 non-null object
90                           648 non-null object
dtypes: float64(2), object(15)
memory usage: 86.9+ KB

In [58]:
def missing_percentage(df):
    """This function takes a DataFrame(df) as input and returns two columns, total missing values and total missing values percentage"""
    total = df.isnull().sum().sort_values(ascending = False)[df.isnull().sum().sort_values(ascending = False) != 0]
    percent = round(df.isnull().sum().sort_values(ascending = False)/len(df)*100,2)[round(df.isnull().sum().sort_values(ascending = False)/len(df)*100,2) != 0]
    return pd.concat([total, percent], axis=1, keys=['Total','Percent'])

missing_percentage(annualPayByConstituency_2019)

                           Total  Percent
APC Median                    99    15.16
APC Mean                      26     3.98
90                             5     0.77
10                             5     0.77
Code                           5     0.77
Number of jobs (thousand)      5     0.77
Median                         5     0.77
Mean                           5     0.77
20                             5     0.77
80                             5     0.77
25                             5     0.77
30                             5     0.77
40                             5     0.77
60                             5     0.77
70                             5     0.77
75                             5     0.77